<li><a class="dropdown-item fs-14" href="@Url.Action("ChangeLanguage", "Home", new { lang="vi"})">VI (Vietnamese)</a></li>
<li><a class="dropdown-item fs-14" href="@Url.Action("ChangeLanguage", "Home", new { lang="en"})">EN (English)</a></li>
<li><a class="dropdown-item fs-14" href="@Url.Action("ChangeLanguage", "Home", new { lang="zh"})">ZH (Chinese)</a></li>
<li><a class="dropdown-item fs-14" href="@Url.Action("ChangeLanguage", "Home", new { lang="ms"})">MS (Malay)</a></li>
<li><a class="dropdown-item fs-14" href="@Url.Action("ChangeLanguage", "Home", new { lang="ar"})">AR (Arabic)</a></li>
