@model vnMentor.Models.ChangePasswordViewModel
@using vnMentor.Resources
@{
    ViewBag.Title = Resource.ChangePassword;
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between pt-2">
            <div class="pagetitle mb-sm-0 fw600">
                @ViewBag.Title
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,null, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <section class="section mt-3">
        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <h2 class="fs-20 fw600 mb-4">@Resource.EnterTheDetails</h2>
            <div class="invalid-message">
                @Html.ValidationSummary()
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "form-label required fw600" })
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "form-label required fw600" })
                            <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="@Resource.PasswordRequirementText"></i>
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label required fw600" })
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row mt-4">
        <div class="col-12">
            <button id="save-btn" type="submit" class="btn form-btn btn-primary hover-boxshadow">@Resource.Save</button>
        </div>
    </div>
}
