@model PaginatedList<vnMentor.Models.UserAttachmentViewModel>
@using vnMentor.Resources
@{
    string sort = ViewData["CurrentSort"].ToString();
    int calculatedTo = (Model.PageIndex - 1) * Model.PageSize + Model.PageSize;
    int calculatedFrom = (Model.PageIndex - 1) * Model.PageSize + 1;
    int showingFrom = Model.TotalItems == 0 ? 0 : calculatedFrom;
    int showingTo = (calculatedTo) > Model.TotalItems ? Model.TotalItems : (calculatedTo);
}
<div class="row justify-content-between align-items-end pb-1">
    <div class="col-sm-7 col-xl-3">
        @await Html.PartialAsync("~/Views/Shared/_TableLengthDropDown.cshtml", new ViewDataDictionary(ViewData) { { "DropDownId", "-tableDropDown" },{"PageSize", Model.PageSize },{"TotalItems", Model.TotalItems } })
    </div>
    <div class="col-xl-4"></div>
    <div class="col-xl-5 pt-2 pt-sm-0">
        <div id="searchinput">
            <div class="input-group flex-nowrap">
                <input type="text" id="search" name="search" value="@ViewData["CurrentSearch"]" class="form-control" placeholder="@Model.SearchMessage" />
                <a class="input-group-text bg-transparent hover-bg-primarycolor hover-color-white cursor-pointer"
                   id="searchbtn"
                   onclick="refreshTable('@ViewData["CurrentSort"]', null, null, '@ViewData["CurrentSize"]', false, false)"><i class="fa-solid fa-magnifying-glass pe-1"></i> @Resource.Search</a>
                <a class="input-group-text bg-transparent hover-bg-primarycolor hover-color-white cursor-pointer" onclick="resetTable()"><i class="fa-solid fa-rotate-left pe-1"></i> @Resource.Reset</a>
            </div>
        </div>
    </div>
</div>
<div id="-table-wrapper">
    <div class="table-responsive overflow-auto">
        <table id="-table" class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    @foreach (var item in Model.ColumnHeaders)
                    {
                        @if (item.Key != "Actions")
                        {
                            <th class="thead">
                                <a class="d-flex justify-content-between align-items-center cursor-pointer" onclick="refreshTable('@item.OrderAction','@ViewData["CurrentSearch"]',null,'@ViewData["CurrentSize"]')">
                                    <span>@item.Title</span>
                                    <i class="fa-solid fs-12 text-muted @(sort.Contains(item.Key.ToString())? sort.Contains("asc")? "fa-arrow-up-wide-short": sort.Contains("desc")? "fa-arrow-down-wide-short": "": "")"></i>
                                </a>
                            </th>
                        }
                        else
                        {
                            <th class="thead notexport actioncol"><div class="d-flex justify-content-between align-items-center"><span>@item.Title</span></div></th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FileName</td>
                        <td>@item.AttachmentTypeName</td>
                        <td class="datetimetext">@item.IsoUtcUploadedOn</td>
                        <td>@item.UploadedBy</td>
                        <td>
                            <div class="d-flex text-breakspaces">
                                <span class="fs-20 canedit"><a href="@Url.Action("edit", new { Id = item.Id })"><i class="fa-solid fa-edit text-edit hover-color-secondarycolor cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Attachment Type"></i></a> &nbsp;</span>
                                <span class="fs-20 canedit"><a href="@Url.Action("download", new { Id = item.Id })"><i class="fa-solid fa-download text-attachment hover-color-secondarycolor" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"></i></a> &nbsp;</span>
                                <span class="fs-20 candelete" onclick="triggerDeleteConfirmationModal('@Url.Action("delete", new { id=item.Id})')"><i class="fa-solid fa-trash-can text-delete hover-color-secondarycolor cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i></span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row justify-content-between align-items-center fs-14 mb-2">
        <div class="col-md-6">
            Showing @showingFrom to @showingTo of @Model.TotalItems Records
        </div>
        <div class="col-md-6 text-end">
            <nav class="d-inline-block" aria-label="Page navigation example">
                <ul class="pagination m-0">
                    <li class="page-item">
                        @if (Model.HasPreviousPage)
                        {
                            <a onclick="refreshTable('@ViewData["CurrentSort"]','@ViewData["CurrentSearch"]','@(Model.PageIndex - 1)','@ViewData["CurrentSize"]')" class="page-link cursor-pointer">@Resource.Previous</a>
                        }
                        else
                        {
                            <span class="page-link cursor-default disabled opacity-50">@Resource.Previous</span>
                        }
                    </li>
                    @if (Model.PageIndex > 3)
                    {
                        <li class="page-item">
                            <a onclick="refreshTable('@ViewData["CurrentSort"]','@ViewData["CurrentSearch"]', '1','@ViewData["CurrentSize"]')" class="page-link cursor-pointer">1</a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    }
                    @for (int i = Math.Max(1, Model.PageIndex - 2); i <= Math.Min(Model.TotalPages, Model.PageIndex + 2); i++)
                    {
                        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                            <a onclick="refreshTable('@ViewData["CurrentSort"]','@ViewData["CurrentSearch"]', '@i', '@ViewData["CurrentSize"]')" class="page-link cursor-pointer">@i</a>
                        </li>
                    }
                    @if (Model.PageIndex < Model.TotalPages - 2)
                    {
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        <li class="page-item">
                            <a onclick="refreshTable('@ViewData["CurrentSort"]','@ViewData["CurrentSearch"]', '@Model.TotalPages','@ViewData["CurrentSize"]')" class="page-link cursor-pointer">@Model.TotalPages</a>
                        </li>
                    }
                    <li class="page-item">
                        @if (Model.HasNextPage)
                        {
                            <a onclick="refreshTable('@ViewData["CurrentSort"]','@ViewData["CurrentSearch"]', '@(Model.PageIndex + 1)','@ViewData["CurrentSize"]')" class="page-link cursor-pointer">@Resource.Next</a>
                        }
                        else
                        {
                            <span class="page-link cursor-default disabled opacity-50">@Resource.Next</span>
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    var tableWrapper = document.getElementById("-table-wrapper");
    var table = document.getElementById("-table");
    var tableDropDown = document.getElementById("-tableDropDown");
    if (tableWrapper != null) {
        tableWrapper.id = tableIdPrefix + "-table-wrapper";
    }
    if (table != null) {
        table.id = tableIdPrefix + "-table";
    }
    if (tableDropDown != null) {
        tableDropDown.id = tableIdPrefix + "-tableDropDown";
    }

    initDropdownlist();
    //event listener for the "show 10 records" drop down list
    for (const option of document.querySelectorAll("#" + tableIdPrefix + "-tableDropDown .custom-option")) {
        option.addEventListener('click', function () {
            this.parentNode.querySelector('.custom-option.selected').classList.remove('selected');
            this.classList.add('selected');
            this.closest('.select').querySelector('.select__trigger span').textContent = this.textContent;
            let chosenValue = this.getAttribute("data-value");
            refreshTable('@ViewData["CurrentSort"]', '@ViewData["CurrentSearch"]', null, chosenValue, false, false);
        })
    }

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>
