@using vnMentor.Models;
@using vnMentor.Resources
@{
    ViewBag.Module = Resource.Subject;
    ViewBag.Title = ViewBag.Module + " " + Resource.Management;
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
    ViewBag.TableIdPrefix = "subject";
    ViewBag.PartialViewWrapper = "subject-partialview";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="pagetitle mb-sm-0 fw600">@ViewBag.Module @Resource.Management</h4>
        </div>
    </div>
</div>

<section class="section dashboard mt-3">
    <div class="bg-white rounded p-3 shadow position-relative h-100 w-100">
        <div class="pb-2">
            <a class="btn form-btn btn-primary hover-boxshadow hover-moveup hover-bg-primarycolor" href="@Url.Action("edit")"><i class="fa-solid fa-plus pe-1"></i> @Resource.AddNewRecord</a>
            <span onclick="exportToExcel('@ViewBag.TableIdPrefix', '@Resource.TableIsStillLoading')" data-bs-toggle="tooltip" data-bs-placement="right" title="@Resource.ExportToExcelNote" class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup"><i class="fa-solid fa-file-excel pe-1"></i> @Resource.ExporttoExcel</span>
            <span onclick="exportToPdf('@ViewBag.TableIdPrefix', '@Resource.TableIsStillLoading')" data-bs-toggle="tooltip" data-bs-placement="right" title="@Resource.ExportToPDFNote" class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup"><i class="fa-solid fa-file-pdf pe-1"></i> @Resource.ExporttoPdf</span>
        </div>
        <div class="spinner-container d-none">
            <div class="spinner d-flex justify-content-center align-items-center text-center color-primarycolor py-5">
                <div class="py-3">
                    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; @Resource.Loading </strong>
                </div>
            </div>
        </div>
        <div id="@ViewBag.PartialViewWrapper">
            <!-- display a dummy empty table while loading the data -->
            <div class="table-responsive mb-5">
                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light">
                        <tr><th class="thead"></th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="py-4"></div>
            <div class="dummyfooter row justify-content-between mt-5">
                <div class="col-md-6">@Resource.Showing0Entries</div>
                <div class="col-md-6 text-end">@Resource.Page0OfPage0</div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        var tableIdPrefix = "@ViewBag.TableIdPrefix";
        var fileName = "@Resource.Subject"; //the file name for excel and pdf file (Export to excel, pdf feature)
        var partialview = "@ViewBag.PartialViewWrapper";
        var loadTableUrl = "@Url.Action("GetPartialViewListing", "Subject")";
        resetTable();

        function refreshTable(sort, search, pg, size) {
            if (sort == "undefined" || sort == undefined || sort == null) {
                sort = "";
            }
            if (pg == "undefined" || pg == undefined || pg == null) {
                pg = 1;
            }
            if (size == "undefined" || size == undefined || size == null) {
                size = "";
            }
            if (search == "undefined" || search == undefined || search == null) {
                let searchinput = document.querySelector('input[name="search"]');
                if (searchinput != null) {
                    if (searchinput.value == null || searchinput.value == "") {
                        search = "";
                    } else {
                        search = searchinput.value;
                    }
                } else {
                    search = "";
                }
            }
            $(".spinner-container").removeClass("d-none");
            var url = `${loadTableUrl}?sort=${sort}&search=${search}&pg=${pg}&size=${size}`;
            loadData(url);
        }

        function resetTable() {
            $(".spinner-container").removeClass("d-none");
            var url = loadTableUrl;
            loadData(url);
        }

        function loadData(url) {
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    $(`#${partialview}`).html(data);
                    formatDateTimeText();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                })
                .finally(() => {
                    $(".spinner-container").addClass("d-none");
                });
        }
    </script>
}