@model vnMentor.Models.AdminChangePasswordViewModel
@using vnMentor.CustomHelper
@using vnMentor.Resources
@{
    ViewBag.Title = Resource.ChangePasswordForUser;
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item fw-normal"><a class="color-primarycolor opacity-50" href="@Url.Action("index")">@Resource.UserManagement</a></li>
                <li class="breadcrumb-item fw-normal"><a class="color-primarycolor opacity-50" href="@Url.Action("viewrecord", new { Id = Model.Id })">@Resource.ViewUser</a></li>
                <li class="breadcrumb-item fw-normal active">@ViewBag.Title</li>
            </ol>
        </div>
        <div class="page-title-box d-sm-flex align-items-center justify-content-between pt-2">
            <h4 class="pagetitle mb-sm-0 fw600">@ViewBag.Title</h4>
        </div>
    </div>
</div>

@using (Html.BeginForm("AdminChangePassword", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.AspNetUserId)
    <section class="section mt-3">
        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <h2 class="fs-20 fw600 mb-4">@Resource.UserInformation</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-1 mb-sm-2 text-break">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "form-label fw600 pe-0 pe-md-3" })
                            @Html.DisplayFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(m => m.Username)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-1 mb-sm-2 text-break">
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmailAddress, htmlAttributes: new { @class = "form-label fw600 pe-0 pe-md-3" })
                            @Html.DisplayFor(m => m.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(m => m.EmailAddress)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-1 mb-sm-2 text-break">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FullName, htmlAttributes: new { @class = "form-label fw600 pe-0 pe-md-3" })
                            @Html.DisplayFor(m => m.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(m => m.FullName)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow mt-4">
            <h2 class="fs-20 fw600 mb-4">@Resource.ChangePassword</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "form-label required fw600" })
                            <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right"
                           title="@Resource.PasswordRequirementText"></i>
                            @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-label required fw600", @for = "ConfirmPassword" })
                            @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "ConfirmPassword" } })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <a type="button" class="btn form-btn btn-secondary hover-boxshadow me-1" href="@Url.Action("index")">@Resource.BackToList</a>
                <button id="save-btn" type="submit" class="btn form-btn btn-primary hover-boxshadow">@Resource.Save</button>
            </div>
        </div>
    </section>

}
